server.port=8089
telegram.chat_id=56123412
telegram.bot_id=34563456
telegram.bot_token=XASRFASDAFDSAWEFASEAF

cam.count=2

cam1.ip=192.168.0.2
cam1.port=80
cam1.login=ww
cam1.password=qqq
cam1.class=CameraApexisJ011WS

cam2.ip=192.168.0.3
cam2.port=80
cam2.login=ra
cam2.password=ddd
cam2.class=CameraDericamH502W
cam2.all=true
